body {
  height: 100vh;
  margin: 0;
  background: rgba(1, 0, 0, 1);
  color: white;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 150px;
}

.background-img img {
  width: 100%;
  height: 100%;
}

.converter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.heading {
  width: 50%;
}

input {
  padding: 14px 16px;
  background: rgba(25, 25, 25, 1);
  border-radius: 8px;
  width: 80%;
  margin-top: 0;
  color: rgba(255, 255, 255, 1);
  border: none;
}

h5 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.input-understroke {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(148, 148, 148, 1);
  margin-top: 5px;
}

select {
  padding: 14px 16px;
  background: rgba(25, 25, 25, 1);
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  border: none;
}

#currencySelect {
  margin-top: 21px;
}

button {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  padding: 16px 8px;
  border-radius: 8px;
  width: 45%;
}

button:hover {
  cursor: pointer;
}

#submitBtn {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  border: none;
  margin-right: 8px;
}

#submitBtn:hover {
  background-color: rgba(248, 145, 139, 1);
}

#resetBtn {
  display: none;
  background: none;
  color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(255, 255, 255, 1);
}
#resetBtn:hover {
  background-color: rgba(254, 246, 245, 1);
  color: rgba(24, 3, 1, 1);
}

.uppercase {
  text-transform: uppercase;
}

#convertedResult h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
}

#convertedResult p {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.red {
  color: red;
}
